@page "/"
@using Api.TeamManagement.Models
@using Web.TeamManagement.Blazor.Services.Contracts
@inject IMemberService MemberService
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

@if (_isLoading)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">BirthDate</th>
            <th scope="col">Status</th>
            <th scope="col">MembershipFee</th>
            <th scope="col">Departments</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in _members)
        {
            <tr>
                <td>@member.FirstName</td>
                <td>@member.LastName</td>
                <td>@member.Birthdate</td>
                <td>@member.Status</td>
                <td>@member.MembershipFee</td>
                <td>@string.Join(",", member.Departments.Select(x => x.Name))</td>
            </tr>
        }
        </tbody>
    </table>
}


@code {

    private List<MemberModel> _members = [];
    private bool _isLoading = true;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _members = await MemberService.GetMembersAsync();
            Logger.LogInformation("Members fetched.");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to fetch members.");
        }
        finally
        {
            _isLoading = false;
        }
    }

}